/* GENERAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: rgb(250, 240, 210);
}

.app-container {
  background-color: rgb(250, 240, 210);
}

/* NAVIGATION BAR */
.navbar-bg {
  background-color: rgb(85, 25, 25);
  margin-top: 5px;
  border: solid thin black;
}

.navbar-link {
  color: white !important;
}

.logout-nav-link {
  color: rgb(255, 187, 0) !important;
}

/* LOGIN PAGE */
.login-container {
  background-color: rgb(85, 25, 25);
  height: 380px;
}

.diamond-logo {
  height: 260px;
  width: 260px;
  background-color: rgb(0, 100, 0);
  transform: rotate(45deg);
  position: relative;
  margin: auto;
  top: 60px;
  border: solid black;
}

.login-content-field {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  color: white;
}

.login-title {
  font-size: 50px;
}

.login-input-col {
  width: 50%;
}

.login-username-input {
  margin-top: 5px;
}

.login-password-input {
  margin-top: 5px;
}

.login-button {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(250, 240, 210) !important;
  color: black;
  border: solid thin black;
}

.new-account-button {
  color: white;
}

/* ROSTER PAGE */
.roster-container {
  background-color: rgb(250, 240, 210);
  height: 100px;
}

.team-desc-section {
  margin-bottom: -10px;
  margin-top: -15px;
}

.roster-col {
  max-height: 225px;
  overflow: auto;
}

.player-row {
  width: 500px;
  margin-top: 1px;
  padding-top: 3px;
  height: 35px;
}

.row-male {
  border: solid thin black;
  background-color: grey;
  color: white;
}

.row-female {
  border: solid thin black;
  background-color: white;
  color: black;
}

.player-out-alert {
  color: white;
  background-color: red;
  border: solid thin black;
}

.roster-side-col {
  padding-left: 25px;
  padding-right: 25px;
}

.avail-track-col {
  margin-bottom: 10px;
}

.avail-track-num {
  margin-top: -20px;
  margin-bottom: 0px;
}

.add-new-player-btn {
  border: thin solid black;
  background-color: rgb(0, 100, 0);
  color: white;
}

.edit-avail-btn {
  border: thin solid black;
  background-color: rgb(255, 187, 0);
  color: black;
  margin-top: 10px;
}

.delete-player-button {
  margin-right: 200px;
}

.sex-select-input {
  width: 40%;
}

.sort-title {
  margin-left: 10px;
}

.out-alert-col {
  width: 100%;
  margin-left: 5px;
}

.toggle-edit-button-true {
  background-color: red;
  color: white;
  height: 50px;
}

.male-btn {
  margin-left: 10px;
  margin-right: 15px;
}

/* LINEUP PAGE */
td {
  border: solid thin black;
  width: 50px;
}

.player-row-header {
  width: 100px;
}

.player-row-header-wrapper {
  margin-left: 3px;
  max-height: 25px;
  overflow: hidden;
}

.inning-row {
  background-color: rgb(225, 225, 225);
}

.empty-cell {
  border: none;
  background-color: rgb(250, 240, 210);
}

.pos-dd-btn {
  background-color: transparent;
  border: none;
}

.batting-order-title {
  margin-bottom: 1px;
  margin-left: 28px;
}

.batting-order-player {
  border: thin solid black;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
  width: 100%;
}

.lineup-row-male {
  color: white;
  background-color: grey;
}

.lineup-row-male .pos-dd-btn {
  background-color: transparent;
  border: none;
  color: white;
}

.lineup-row-female {
  color: black;
  background-color: white;
}

.batting-order-row-male {
  color: white;
  background-color: grey;
}

.batting-order-row-female {
  color: black;
  background-color: white;
}

.field-view-btn {
  color: white;
  background-color: rgb(0, 100, 0);
  margin-top: 5px;
}

.violation-alert-row {
  margin-top: 10px;
  margin-bottom: 5px;
  color: red;
}

/* LINEUP-FIELD PAGE */
.table-view-btn {
  color: black;
  background-color: rgb(255, 187, 0);
  margin-top: 5px;
}

/* SETTINGS PAGE */
.settings-col {
  background-color: rgb(245, 245, 245);
  border: black solid thin;
  margin-top: 20px;
}

.defaults-btn {
  width: 51%;
}

.delete-team-btn {
  width: 51%;
  margin-bottom: 15px;
}

.gen-settings-header {
  margin-top: 15px;
}

.req-settings-header {
  margin-bottom: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
  body {
  }

  .login-container {
    height: 750px;
  }

  .roster-col {
    width: 100%;
    max-height: 450px;
  }

  .player-row {
    width: 100%;
    max-height: 30px;
    overflow: hidden;
  }

  .delete-player-button {
    margin-right: 75px;
  }

  td {
    width: 40px;
  }

  .player-row-header {
    width: 120px;
  }
}
