/* GENERAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: rgb(250, 240, 210);
}

.app-container {
  background-color: rgb(250, 240, 210);
}

/* NAVIGATION BAR */
.navbar-bg {
  background-color: rgb(85, 25, 25);
  margin-top: 5px;
  border: solid thin black;
  z-index: 4;
}

.navbar-link {
  color: white !important;
}

.navbar-link:hover {
  color: rgb(250, 240, 210) !important;
}

.nav-roster-roster {
  color: rgb(255, 187, 0) !important;
}

.nav-lineup-lineup {
  color: rgb(255, 187, 0) !important;
}

.nav-settings-settings {
  color: rgb(255, 187, 0) !important;
}

.nav-bracket {
  color: white !important;
  display: none;
}

.nav-bracket:hover {
  cursor: default;
}

.nav-username {
  color: white;
}

/* LOGIN PAGE */
.login-container {
  background-color: rgb(85, 25, 25);
  height: 380px;
}

.diamond-logo {
  height: 260px;
  width: 260px;
  background-color: rgb(0, 100, 0);
  transform: rotate(45deg);
  position: relative;
  margin: auto;
  top: 60px;
  border: solid black;
}

.login-content-field {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  color: white;
}

.login-title {
  font-size: 50px;
}

.login-input-col {
  width: 50%;
}

.login-username-input {
  margin-top: 5px;
}

.login-password-input {
  margin-top: 5px;
}

.login-password-input-current-true {
  border: solid thin red;
}

.login-password-input-new-true {
  border: solid thin red;
}

.login-button {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(250, 240, 210) !important;
  color: black;
  border: solid thin black;
}

.login-button:hover {
  background-color: rgb(250, 230, 165) !important;
}

.new-account-button {
  color: white;
}

.new-account-button:hover {
  color: rgb(250, 230, 165);
}

/* ROSTER PAGE */
.roster-container {
  background-color: rgb(250, 240, 210);
  height: 100px;
}

.team-desc-section {
  margin-bottom: -10px;
}

.roster-col {
  max-height: 225px;
  overflow: auto;
}

.player-row {
  width: 500px;
  margin-top: 1px;
  padding-top: 3px;
  height: 35px;
}

.row-male {
  border: solid thin black;
  background-color: grey;
  color: white;
}

.row-female {
  border: solid thin black;
  background-color: white;
  color: black;
}

.player-out-alert {
  color: white;
  background-color: red;
  border: solid thin black;
}

.roster-side-col {
  padding-left: 25px;
  padding-right: 25px;
}

.avail-track-col {
  margin-bottom: 10px;
}

.avail-track-num {
  margin-top: -20px;
  margin-bottom: 0px;
}

.add-new-player-btn {
  border: thin solid black;
  background-color: rgb(0, 100, 0);
  color: white;
}

.edit-avail-btn {
  border: thin solid black;
  background-color: rgb(255, 187, 0);
  color: black;
  margin-top: 10px;
}

.delete-player-button {
  margin-right: 175px;
}

.sex-select-input {
  width: 40%;
}

.sort-title {
  margin-left: 10px;
}

.out-alert-col {
  width: 100%;
  margin-left: 5px;
}

.toggle-edit-button-true {
  background-color: red;
  color: white;
  height: 50px;
}

.male-btn {
  margin-left: 10px;
  margin-right: 15px;
}

.add-new-player-btn:hover {
  background-color: rgb(0, 80, 0);
  color: white;
}

.fingerprint-button:hover {
  cursor: pointer;
}

.sort-title:hover {
  cursor: pointer;
}

.namesort-name {
  font-weight: bold;
}

.sexsort-sex {
  font-weight: bold;
}

.availsort-avail {
  font-weight: bold;
}

.player-name-on-roster {
  max-width: 175px;
  overflow: hidden;
  max-height: 30px;
}

.edit-player-modal ~ .modal-backdrop {
  opacity: 0.001;
}

/* LINEUP PAGE */
td {
  border: solid thin black;
  width: 50px;
}

.player-row-header {
  width: 100px;
}

.player-row-header-wrapper {
  margin-left: 3px;
  max-height: 25px;
  max-width: 125px;
  overflow: hidden;
}

.inning-row {
  background-color: rgb(225, 225, 225);
}

.empty-cell {
  border: none;
  background-color: rgb(250, 240, 210);
}

.pos-dd-btn {
  background-color: transparent;
  border: none;
}

.batting-order-title {
  margin-bottom: 1px;
  margin-left: 28px;
  font-size: smaller;
}

.batting-order-player {
  border: thin solid black;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
  width: 100%;
}

.batting-order-player-name {
  margin-left: 3px;
  max-width: 95px;
  max-height: 25px;
  overflow: hidden;
}

.rotating-batter {
  font-size: smaller;
  height: 100px;
}

.rotating-batter-full {
  font-size: smaller;
  height: 100px;
}

.rotating-batter-div-1 {
  margin-bottom: -7px;
  margin-top: -4px;
}

.rotating-batter-div-full {
  margin-top: 2px;
}

.lineup-row-male {
  color: white;
  background-color: grey;
}

.lineup-row-male .pos-dd-btn {
  background-color: transparent;
  border: none;
  color: white;
}

.lineup-row-female {
  color: black;
  background-color: white;
}

.batting-order-row-male {
  color: white;
  background-color: grey;
}

.batting-order-row-female {
  color: black;
  background-color: white;
}

.batting-order-row-male:hover {
  background-color: rgb(100, 100, 100);
}

.batting-order-row-female:hover {
  background-color: rgb(240, 240, 240);
}

.field-view-btn {
  color: white;
  background-color: rgb(0, 100, 0);
  margin-top: 5px;
}

.field-view-btn:hover {
  background-color: rgb(0, 80, 0);
}

.violation-alert-row {
  margin-top: 10px;
  margin-bottom: 5px;
  color: red;
}

.violation-dropdown {
  color: red;
}

.violation-dropdown-button {
  margin-bottom: 10px;
}

.print-col {
  margin-top: 5px;
}

.print-button:hover {
  cursor: pointer;
}

.print-toggle-on {
  color: black !important;
  background-color: white !important;
}

.position-selection {
  width: 25%;
  float: left;
  margin: 5px;
}

.clear-lineup-button:hover {
  cursor: pointer;
}

.btn-chosen-pos {
  color: white !important;
  background-color: #003563 !important;
}

/* LINEUP-FIELD PAGE */
.field-img {
  position: absolute;
  top: -150px;
  transform: scale(0.5);
  mix-blend-mode: multiply;
  z-index: 2;
}

.table-view-btn {
  color: black;
  background-color: rgb(255, 187, 0);
  margin-top: 5px;
}

.table-view-btn:hover {
  background-color: rgb(230, 155, 0);
}

.page-link:hover {
  cursor: pointer;
}

.field-player {
  border: solid black thin;
  max-width: 75px;
  max-height: 26px;
  overflow: hidden;
}

.field-player-male {
  color: white;
  background-color: grey;
}

.field-player-female {
  color: black;
  background-color: white;
}

.on-bench-col {
  border: solid thin black;
  background-color: rgb(85, 25, 25);
  color: white;
  margin-bottom: 25px;
  max-height: 250px;
  overflow: scroll;
}

.on-bench-row {
  margin-left: 3px;
  color: white;
}

.switch-inning-left-col {
  margin-top: 75px;
}

.switch-inning-right-col {
  margin-top: 75px;
}

.inning-left-button {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.inning-right-button {
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: right;
}

.inning-left-button:hover {
  cursor: pointer;
  background-color: rgb(255, 187, 0);
}

.inning-right-button:hover {
  cursor: pointer;
  background-color: rgb(255, 187, 0);
}

.relative-pos-col {
  position: relative;
}

.playing-at-P {
  position: absolute;
  z-index: 3;
  top: 145px;
  left: 157px;
}

.playing-at-C {
  position: absolute;
  z-index: 3;
  top: 205px;
  left: 155px;
}

.playing-at-1B {
  position: absolute;
  z-index: 3;
  top: 145px;
  left: 230px;
}

.playing-at-2B {
  position: absolute;
  z-index: 3;
  top: 95px;
  left: 200px;
}

.playing-at-3B {
  position: absolute;
  z-index: 3;
  top: 145px;
  left: 75px;
}

.playing-at-SS {
  position: absolute;
  z-index: 3;
  top: 95px;
  left: 105px;
}

.playing-at-LF {
  position: absolute;
  z-index: 3;
  top: 45px;
  left: 30px;
}

.playing-at-CF {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 105px;
}

.playing-at-RCF {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 200px;
}

.playing-at-RF {
  position: absolute;
  z-index: 3;
  top: 55px;
  left: 255px;
}

.big-inning-display {
  margin-left: 35px;
  margin-top: 100px;
  transform: scale(1.75);
}

.inning-subtitle {
  margin-left: 35px;
}

.pos-filled-num {
  margin-bottom: 0px;
  font-size: larger;
}

.pos-filled-text {
  font-size: smaller;
}

.pos-num-below {
  color: red;
}

.pos-num-meets {
  color: rgb(0, 120, 0);
}

/* SETTINGS PAGE */
.lineup-field-top-row {
  z-index: 1;
}

.settings-col {
  background-color: rgb(245, 245, 245);
  border: black solid thin;
  margin-top: 20px;
  margin-bottom: 5px;
}

.defaults-btn {
  width: 51%;
}

.change-pass-btn {
  width: 51%;
}

.delete-team-btn {
  width: 51%;
  margin-bottom: 15px;
}

.gen-settings-header {
  margin-top: 15px;
}

.req-settings-header {
  margin-bottom: 10px;
}

.at-least {
  font-size: small;
}

.form-switch {
  margin-left: 10px;
}

.form-check-input:hover {
  cursor: pointer;
}

.requirements-row {
  margin-top: 50px;
}

.requirements-row-second {
  margin-top: 40px;
}

.requirements-row-last {
  margin-top: 50px;
  margin-bottom: -15px;
}

.password-match-checkmark {
  margin-right: 150px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  /* LOGIN PAGE */
  .login-content-field {
    margin-top: 150px;
  }

  .diamond-logo {
    margin-top: 150px;
  }

  /* NAVIGATION */
  .nav-bracket {
    display: initial;
  }

  /* ROSTER PAGE */
  .team-desc-section {
    margin-top: 10px;
  }

  .roster-col {
    max-height: none;
    overflow: visible;
  }

  .player-row {
    width: 800px;
  }

  .add-new-player-btn {
    width: 110px;
    height: 65px;
    margin-left: 40px;
  }

  .edit-avail-btn {
    width: 110px;
    height: 65px;
    margin-left: 40px;
  }

  .row-male:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
  }

  .row-female:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }

  .player-name-on-roster {
    max-width: 275px;
    overflow: hidden;
  }

  /* LINEUP PAGE */
  td {
    width: 80px;
  }

  .player-row-header {
    width: 150px;
  }

  .pos-dd-btn:hover {
    background-color: rgb(0, 225, 255);
  }

  .batting-order-player {
    width: 75%;
  }

  .batting-order-player-name {
    max-width: 150px;
    overflow: hidden;
  }

  .batting-order-title {
    margin-left: -30px;
  }

  /* LINEUP-FIELD PAGE */
  .field-img {
    position: absolute;
    top: 0px;
    transform: scale(0.8);
    mix-blend-mode: multiply;
    z-index: 2;
  }

  .on-bench-col {
    margin-bottom: 25px;
    max-height: none;
    overflow: visible;
  }

  .switch-inning-left-col {
    margin-top: 215px;
  }

  .switch-inning-right-col {
    margin-top: 215px;
  }

  .playing-at-P {
    top: 325px;
    left: 280px;
  }

  .playing-at-C {
    top: 435px;
    left: 278px;
  }

  .playing-at-1B {
    top: 325px;
    left: 387px;
  }

  .playing-at-2B {
    top: 255px;
    left: 352px;
  }

  .playing-at-3B {
    top: 325px;
    left: 162px;
  }

  .playing-at-SS {
    top: 260px;
    left: 202px;
  }

  .playing-at-LF {
    top: 160px;
    left: 97px;
  }

  .playing-at-CF {
    top: 85px;
    left: 212px;
  }

  .playing-at-RCF {
    top: 95px;
    left: 377px;
  }

  .playing-at-RF {
    top: 160px;
    left: 472px;
  }

  .big-inning-display {
    margin-left: 110px;
    margin-top: 250px;
    transform: scale(2);
  }

  .inning-subtitle {
    margin-left: 85px;
  }

  /* SETTINGS PAGE */
  .settings-col {
    width: 35%;
  }
}

@media screen and (min-width: 1440px) {
  /* LINEUP-FIELD PAGE */
  .field-img {
    position: absolute;
    top: 0px;
    transform: scale(1);
    mix-blend-mode: multiply;
    z-index: 2;
  }

  .switch-inning-left-col {
    margin-top: 175px;
  }

  .switch-inning-right-col {
    margin-top: 175px;
  }

  .playing-at-P {
    top: 345px;
    left: 325px;
  }

  .playing-at-C {
    top: 455px;
    left: 322px;
  }

  .playing-at-1B {
    top: 345px;
    left: 432px;
  }

  .playing-at-2B {
    top: 280px;
    left: 397px;
  }

  .playing-at-3B {
    top: 345px;
    left: 197px;
  }

  .playing-at-SS {
    top: 280px;
    left: 247px;
  }

  .playing-at-LF {
    top: 150px;
    left: 112px;
  }

  .playing-at-CF {
    top: 75px;
    left: 257px;
  }

  .playing-at-RCF {
    top: 85px;
    left: 422px;
  }

  .playing-at-RF {
    top: 150px;
    left: 547px;
  }

  .big-inning-display {
    margin-left: 120px;
    transform: scale(2);
  }
}

@media screen and (orientation: portrait) {
  /* LOGIN PAGE */
  .login-content-field {
    margin-top: 100px;
  }

  .diamond-logo {
    margin-top: 100px;
  }
}
